{% extends 'base.html.twig' %}

{% block title %}Garage{% endblock %}

{% block body %}

<main>
  <div class="container d-flex flex-column">
    <h2 id="h2-voiture">Les voitures disponibles!</h2>
    {# {% if voitures|length > 0 %}
        <div>Il y a {{ voitures|length }} voitures.</div>
    {% endif %} #}
    <p>Filter</p>
    <form id="filters" >
      <p><label for="send">prix</label><input type="range" min="20000" max="21000" name="prix" id="send"> 
      <input type="submit"><input type="text" id="result"></p>
      <p><input type="checkbox" name="filtre" id="" value=""> <label for="">Année</label></p>
      <p><input type="checkbox" name="filtre" id="" value=""> <label for="">kilométrage</label></p>

    </form>
          
 {# {% include 'partials/index.html.twig' %} #}
    
  </div>
</main>


{% endblock %}

{% block javascripts %}
<script src="{{asset('index.js')}}"></script>
{% endblock %}
